{
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 150, 2, {ignoreComments: true}],
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "new-cap": [2, {"capIsNewExceptions": ["PUBNUB"]}],
  },
  "globals": {
    "Backbone": 1,
    "$": 1,
    "c3": 1,
    "d3": 1,
    "L": 1,
    "BigNumber": 1,
    "PUBNUB": 1,
  },
}
